---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Anup Joseph">
  <div class="index-content framed">
    <h1 id="hello-there">Hello there!</h1>
    <p>Hi! I am Anup and this is my little corner of the internet.</p>
    <p>
      You can contact me here at  <a href="mailto:anup20joseph@gmail.com"><strong>anup20joseph</strong></a> 
      and I am also available on <a href="https://www.linkedin.com/in/anup-joseph/">Linkedin</a>
    </p>
  </div>
  
  <div class="posts">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>